{% extends 'main.html' %}
{% block content %}
{% load static %}
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5 pb-5">
                    {% for main in mains %}
                    <div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
                        <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
                            <div class="text-uppercase">{{main.tool | safe}}</div>
                        </div>
                        <div class="fs-3 fw-light text-muted">{{main.first_text | safe}}</div>
                        <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">{{main.text}}</span></h1>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                            <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'resume' %}">{{main.resume}}</a>
                            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url 'project' %}">{{main.projects}}</a>
                        </div>
                    </div>
                    
                    
                    
                    {% endfor %}
                </div>
            </header>
            <!-- About Section-->
            <section class="bg-light py-5">
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xxl-8">
                            <div class="text-center my-5">
                                {% for about in abouts %}
                                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">{{about.about | safe}}</span></h2>
                                <p class="lead fw-light mb-4">{{about.me | safe}}</p>
                                <p class="text-muted">{{about.description | safe }}</p>
                                {% endfor %}
                                {% for social in socials %}
                                <div class="d-flex justify-content-center fs-2 gap-4">
                                    {% if social.instagram %}
                                    <a class="text-gradient" href="{{social.instagram}}" target="_blank"><i class="bi bi-instagram"></i></a>
                                    {% endif %}
                                    {% if social.twitter %}
                                    <a class="text-gradient" href="{{social.twitter}}" target="_blank"><i class="bi bi-twitter"></i></a>
                                    {% endif %}
                                    {% if social.linkedin %}
                                    <a class="text-gradient" href="{{social.linkedin}}" target="_blank"><i class="bi bi-linkedin"></i></a>
                                    {% endif %}
                                    {% if social.github %}
                                    <a class="text-gradient" href="{{social.github}}" target="_blank"><i class="bi bi-github"></i></a>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

{% endblock %}
        <!-- Footer-->
        